<!DOCTYPE html>
<html>
<body>

<h1>AI_Pad</h1>


<form action = '/title' method = 'POST'>

<label for="cars">Select a country to target:</label>

<select id="country" name = "country">
  <option value="IN">India</option>
  <option value="US">USA</option>
</select>

<br><br>
<input type = 'submit' value = "Next" />

</form> 

</body>
</html>
