  
<link rel="stylesheet" href="index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<title class="f">Text description</title>
<div>
  <h1 class="f" style="margin-left: 2ch;"> Text description</h1>
  <div id="left">
   
    <br>
    <textarea name="" id="text-area" rows="10" class="f aipad"></textarea>
    <br><br>
    <button onclick="format()" class="f btn2">Test Me</button>
    <div id="output" class="f"></div>
  </div>
  <div id="right">
    <h1></h1>
    <div id="adverb" class="adverb counter f"></div>
    <div id="passive" class="passive counter f"></div>
    <div id="complex" class="complex counter f"></div>
    <div id="hardSentence" class="hardSentence counter f"></div>
    <div id="veryHardSentence" class="veryHardSentence counter f"></div>
  </div>

</div>
<script src="index.js"></script>