<!DOCTYPE html>
<html>
<body>
<center>
<h1>Report</h1>

<br>
<h2>Plag Report : </h2>
  
    <% for(var i = 0 ; i< ans_m.length ; i++){ %>
     
      <p> <%= ans_m[i]%> <br></p>
  <%  } %>

<br>
<h2>Article Summary : </h2><br>
<%= summary_out%>

<br><br>

<h2>Major Keywords : </h2><br>
<%= keywords_out%>

</center>

</body>
</html>
